#local-search .search-dialog {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1001;
    display: none;
    margin-left: -300px;
    padding: 20px;
    width: 600px;
    border-radius: 8px;
    background: var(--search-bg);
    --search-height: 100vh;
}